/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

#urlbar-container
  :is(#tracking-protection-icon-container, .identity-box-button, .urlbar-page-action):hover {
  background: transparent !important;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0px,
      transparent 0px
    ),
    linear-gradient(to left, rgba(255, 255, 255, 0.4) 0px, transparent 0px),
    linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, transparent 0px),
    linear-gradient(
      to bottom,
      rgba(247, 163, 247, 0.2),
      rgba(246, 122, 246, 0.2)
    ) !important;
  outline: 1px solid rgba(235, 178, 255, 0.7) !important;
  transition: background-color 0.3s ease-in, border-color 0.2s ease-in,
    box-shadow 0.2s ease-in !important;
}

/* clicked/active state */
#urlbar-container
  :is(#tracking-protection-icon-container, .identity-box-button, .urlbar-page-action):is([open], [checked], :hover:active, :active) {
  background: transparent !important;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0px,
      transparent 0px
    ),
    linear-gradient(to left, rgba(255, 255, 255, 0.4) 0px, transparent 0px),
    linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, transparent 0px),
    linear-gradient(
      to bottom,
      rgba(247, 163, 247, 0.6),
      rgba(246, 122, 246, 0.6)
    ) !important;
  outline: 1px solid rgba(235, 178, 255, 0.99) !important;
  transition: background-color 0.3s ease-in, border-color 0.2s ease-in,
    box-shadow 0.2s ease-in !important;
}
