/* Force both sidebars to the smallest size... (idk what keeps on resetting it) */
#Desktop_LeftSidebar_Id:has(.main-yourLibraryX-collapseButton.main-yourLibraryX-headerIsCollapsed) {
  --left-sidebar-width: 75 !important;
}
#Desktop_LeftSidebar_Id:not(:has(.main-yourLibraryX-collapseButton.main-yourLibraryX-headerIsCollapsed)) {
  --left-sidebar-width: 280 !important;
}
.Root__right-sidebar > div:first-child:not([style="width: 0px;"]) {
  width: 280px !important;
}

/* Thanks but I know when to update */
div:has(> button[aria-label="Update Spicetify"]) {
    display: none;
}

/* My custom scrollbar */
.os-scrollbar-handle { 
  width: 0.65rem !important;
  border-radius: 10rem !important;
}
.os-scrollbar-handle:focus, .os-scrollbar-handle:focus-within, .os-scrollbar-handle:hover { 
  width: 0.85rem !important;
  opacity: 1 !important;
}
/* Always show scrollbars */
[class*=scrollbar] {
  opacity: 0.7 !important;
  visibility: visible !important;
}

/* Rotating cover art backup */
/*@keyframes rotating {from {transform: rotate(0deg);}to {transform: rotate(360deg);}}.cover-art, .main-nowPlayingView-coverArtContainer::after, .main-nowPlayingView-coverArtContainer::before {animation: rotating 10s linear infinite;border-radius: 50%;}.cover-art {clip-path: circle(50% at 50% 50%);} .main-nowPlayingBar-left button {background: transparent;}*/
/* Rotating cover art paused on pause */
.main-nowPlayingWidget-coverArt > .cover-art,
.main-nowPlayingView-coverArt > .cover-art {
  animation-play-state: paused;
}
/* Rotating cover art running on play */
body:has([aria-label="Pause"]) .cover-art {
  animation-play-state: running;
}

/* Shift a bit to the left*/
.main-coverSlotCollapsed-container {
  margin-right: 5px;
}

/* Fix shadow in now playing sidebar */
.main-nowPlayingView-coverArt {
  border-radius: 50%;
}

/* Move playbar heart next to Spotify add icon */
.likeControl-wrapper {
  transform: translateY(2px);
}
