/* Proton Fixes */
@import "Firefox-UI-Fix/userChrome.css";


/* CSS hacks */

@import "firefox-csshacks/chrome/centered_tab_content.css";
@import "firefox-csshacks/chrome/compact_urlbar_megabar.css";


/* TreeStyleTab */

/* Hide horizontal tabs at the top of the window #1349, #1672, #2147 */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}

/* If you still see a single, fine white line where the tabs used to be, you can remove it by also adding this rule */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar .titlebar-spacer {
  border-inline-end: none;
}

/* Hide the "Tree Style Tab" header at the top of the sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Reduce minimum width of the sidebar #1373 */
#sidebar {
  min-width: 100px !important;
}
